* {
  margin: 0;
  padding: 0;
}

h1, h2, .description, #for-drop-menu-js .content .click-down .click-down-text, .listBtn {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 32px;
  line-height: 32px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.link-font {
  font-size: 20px;
  line-height: 23px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.morph-vector {
  fill: #1B3CC8;
  stroke: black;
  stroke-width: 0;
}

.svg-first {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 23px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#for-drop-menu-js .content {
  position: relative;
  margin: 3em auto;
  width: 90%;
}
#for-drop-menu-js .content h1 {
  color: white;
  margin-bottom: 20px;
}
#for-drop-menu-js .content .description {
  color: white;
}
#for-drop-menu-js .content .click-down {
  display: inline-block;
  background: transparent;
  border: 2px solid #164BC9;
  border-radius: 50px;
  height: 60px;
  width: 205px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 20px;
}
#for-drop-menu-js .content .click-down .click-down-text {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  color: white;
  text-align: left;
  margin-top: 13px;
  margin-left: 31px;
}
#for-drop-menu-js .content .img-block {
  margin-top: 5px;
  margin-left: 20px;
}

.img-block {
  display: inline-block;
}

.drop-menu-details {
  display: block;
}

.drop-menu-js {
  display: block;
  position: absolute;
  top: 2em;
  right: 0px;
  width: 200px;
  background: transparent;
}

.drop-menu-js-hide {
  display: none;
}

.drop-menu-btn {
  display: none;
}

@supports (-ms-ime-align: auto) {
  .drop-menu-details {
    display: none;
  }

  .drop-menu-btn {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    outline-style: none;
    background: url(../image-svg/icon-menu.svg);
    width: 28px;
    height: 23px;
    cursor: pointer;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

.drop-menu-details[open] {
  margin-top: 2em;
  margin-right: .8em;
}

.drop-list {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  outline-style: none;
  background: url(../image-svg/icon-menu.svg);
  width: 28px;
  height: 23px;
}

.listBtn {
  display: inline-block;
  border: 0;
  width: 100%;
  background: transparent;
  color: white;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.listBtn:hover {
  color: #bac4ee;
  text-decoration: none;
}

.listBtn:focus {
  outline-style: none;
  color: #5f76d8;
}

.important-to-know {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.important-to-know .custom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.important-to-know h2 {
  color: black;
  text-align: left;
}
.important-to-know .description {
  color: black;
  text-align: left;
  width: 75%;
}
.important-to-know .img-block {
  width: 20%;
  padding-right: 5px;
  text-align: center;
}

.algorithm-processing h2 {
  margin-top: 150px;
}
.algorithm-processing .description {
  width: 100%;
}

.cage-content {
  color: white;
  padding: 10px;
}
.cage-content h2 {
  margin-top: 150px;
  margin-bottom: 20px;
}
.cage-content .svg-first {
  display: block;
  position: absolute;
  top: 1580px;
  left: 0;
  z-index: -1;
}
