* {
  margin: 0;
  padding: 0;
}

h1, h2, .description, .click-down .click-down-text, .listBtn, .algorithm-processing .custom-row .svg-diagram .svg-text, .form-contact-us .windowInput, .form-contact-us .windowArea, .form-contact-us .custom-row .click-down .click-down-text, .footer * {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.03em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 32px;
  line-height: 32px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.link-font {
  font-size: 20px;
  line-height: 23px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.morph-vector {
  fill: #1B3CC8;
  stroke: black;
  stroke-width: 0;
}

.svg-first {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 23px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.click-down {
  display: inline-block;
  background: transparent;
  border: 2px solid #164BC9;
  border-radius: 50px;
  height: 60px;
  width: 205px;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 20px;
}
.click-down .click-down-text {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  color: white;
  text-align: left;
  margin-top: 13px;
  margin-left: 31px;
}

#for-drop-menu-js .content {
  position: relative;
  margin: 3em auto;
  width: 90%;
}
#for-drop-menu-js .content h1 {
  color: white;
  margin-bottom: 20px;
}
#for-drop-menu-js .content .description {
  color: white;
}
#for-drop-menu-js .content .img-block {
  margin-top: 5px;
  margin-left: 20px;
}

.img-block {
  display: inline-block;
}

.drop-menu-details {
  display: block;
}

.drop-menu-js {
  display: block;
  position: absolute;
  top: 2em;
  right: 0px;
  width: 200px;
  background: transparent;
}

.drop-menu-js-hide {
  display: none;
}

.drop-menu-btn {
  display: none;
}

@supports (-ms-ime-align: auto) {
  .drop-menu-details {
    display: none;
  }

  .drop-menu-btn {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    outline-style: none;
    background: url(../image-svg/icon-menu.svg);
    width: 28px;
    height: 23px;
    cursor: pointer;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

.drop-menu-details[open] {
  margin-top: 2em;
  margin-right: .8em;
}

.drop-list {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  outline-style: none;
  background: url(../image-svg/icon-menu.svg);
  width: 28px;
  height: 23px;
}

.listBtn {
  display: inline-block;
  border: 0;
  width: 100%;
  background: transparent;
  color: white;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.listBtn:hover {
  color: #bac4ee;
  text-decoration: none;
}

.listBtn:focus {
  outline-style: none;
  color: #5f76d8;
}

.important-to-know {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.important-to-know .custom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.important-to-know h2 {
  color: black;
  text-align: left;
}
.important-to-know .description {
  color: black;
  text-align: left;
  width: 75%;
}
.important-to-know .img-block {
  width: 20%;
  padding-right: 5px;
  text-align: center;
}

.algorithm-processing h2 {
  margin-top: 150px;
}
.algorithm-processing .description {
  width: 100%;
}
.algorithm-processing .custom-row .svg-diagram {
  display: block;
  position: relative;
}
.algorithm-processing .custom-row .svg-diagram .svg-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  fill: black;
  stroke: black;
  stroke-width: 0;
}
.algorithm-processing .custom-row .svg-diagram .space-border {
  fill: none;
  stroke: #E0E0E0;
  stroke-width: 3;
}

.cage-content {
  color: white;
  padding: 10px;
}
.cage-content h2 {
  margin-top: 150px;
  margin-bottom: 20px;
}
.cage-content .svg-first {
  display: block;
  position: absolute;
  top: 1580px;
  left: 0;
  z-index: -1;
}

.photo-processing .custom-row {
  padding: 8px;
}
.photo-processing .custom-row * {
  color: white;
}
.photo-processing .custom-row h2 {
  margin-top: 150px;
}
.photo-processing .custom-row p {
  margin-top: 20px;
}
.photo-processing .custom-row .steps h2 {
  margin-top: 25px;
}
.photo-processing .custom-row .steps h2::before {
  background-image: url(../image-svg/icon-point.svg);
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  content: "";
}
.photo-processing .custom-row .steps .description {
  margin-top: 7px;
  margin-left: 30px;
  line-height: 28px;
}
.photo-processing .custom-row div:first-child {
  margin-top: 35px;
}
.photo-processing .svg-first {
  position: absolute;
  top: 3196px;
}

.available-on-android h2 {
  margin-top: 100px;
}
.available-on-android .custom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.available-on-android .custom-row img {
  display: block;
  margin-right: 10px;
}

.form-contact-us * {
  color: white;
}
.form-contact-us h2 {
  margin-top: 191px;
}
.form-contact-us .description {
  margin-top: 20px;
}
.form-contact-us .windowInput {
  width: 100%;
  height: 60px;
  border: 0;
  background: #164BC9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding-left: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
.form-contact-us .windowArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  border: 0;
  background: #164BC9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  resize: none;
  overflow: hidden;
  scrollbar-arrow-color: #0068AB;
}
.form-contact-us .svg-first {
  position: absolute;
  top: 5080px;
}
.form-contact-us .custom-row .click-down {
  width: 100%;
}
.form-contact-us .custom-row .click-down .click-down-text {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  color: white;
  text-align: left;
  margin-top: 13px;
  margin-left: 31px;
}
.form-contact-us .custom-row .img-block {
  margin-top: 20px;
  margin-left: 160px;
}

.footer {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer * {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
.footer .custom-row {
  text-align: left;
}
.footer .custom-row .listBtn {
  display: inline;
}
.footer .custom-row .listBtn .to-active-color {
  color: #5f76d8;
}
.footer .svg-first {
  position: absolute;
  top: 5803px;
}
.footer .svg-first .morph-vector {
  fill: #164BC9;
  stroke: black;
  stroke-width: 0;
}

.custom-row {
  padding: 10px;
}
