$bg-color: #1B3CC8;
$bg-add-color: #164BC9;
$hover-color: #bac4ee;
$active-color: #5f76d8;
$border-color: #164BC9;

* {
    margin: 0;
    padding: 0;
}

%bold {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
}

h1 {
    @extend %bold;
    font-size: 32px;
    line-height: 32px;
}

h2 {
    @extend %bold;
    font-size: 30px;
    line-height: 30px;
}

nav {
    display: flex;
    position: relative;
}

.link-font {
    font-size: 20px;
    line-height: 23px;
}

.description {
    @extend %bold;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}

.morph-vector {
    fill: $bg-color;
    stroke: black;
    stroke-width: 0;
}

.svg-first {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cage {
    display: flex;
    width: 90%;
    margin: 23px auto;
    flex-direction: row;
    justify-content: space-between;
}

#for-drop-menu-js {
    .content {
        position: relative;
        margin: 3em auto;
        width: 90%;
        h1 {
            color: white;
            margin-bottom: 20px;
        }
        .description {
            color: white;
        }
        .click-down {
            display: inline-block;
            background: transparent;
            border: 2px solid $border-color;
            border-radius: 50px;
            height: 60px;
            width: 205px;
            text-decoration: none;
            margin-bottom: 30px;
            margin-top: 20px;
            .click-down-text {
                @extend %bold;
                display: inline-block;
                font-size: 20px;
                line-height: 30px;
                color: white;
                text-align: left;
                margin-top: 13px;
                margin-left: 31px;
            }
        }
        .img-block {
            margin-top: 5px;
            margin-left: 20px;
        }
    }
}

.img-block {
    display: inline-block;
}

.drop-menu-details {
    display: block;
}

.drop-menu-js {
    display: block;
    position: absolute;
    top: 2em;
    right: 0px;
    width: 200px;
    background: transparent;
}

.drop-menu-js-hide {
    display: none;
}

.drop-menu-btn {
    display: none;
}

@supports (-ms-ime-align: auto) {
    .drop-menu-details {
        display: none;
    }
    .drop-menu-btn {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
        outline-style: none;
        background: url(../image-svg/icon-menu.svg);
        width: 28px;
        height: 23px;
        cursor: pointer;
    }
  }

details summary::-webkit-details-marker {
    display: none;
}

.drop-menu-details[open] {
    margin-top: 2em;
    margin-right: .8em;
}

.drop-list {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    outline-style: none;
    background: url(../image-svg/icon-menu.svg);
    width: 28px;
    height: 23px;
}

.listBtn {
    display: inline-block;
    border: 0;
    width: 100%;
    background: transparent;
    @extend %bold;
    color: white;
    text-align: right;
    user-select: none;
}

.listBtn:hover {
    color: $hover-color;
    text-decoration: none;
}

.listBtn:focus {
    outline-style: none;
    color: $active-color;
}

.important-to-know {
    display: flex;
    flex-direction: column;
    align-items: center;
    .custom-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    h2 {
        color: black;
        text-align: left;
    }
    .description {
        color: black;
        text-align: left;
        width: 75%;
    }
    .img-block {
        width: 20%;
        padding-right: 5px;
        text-align: center;
    }
}

.algorithm-processing {
    h2 {
        margin-top: 150px;
    }
    .description {
        width: 100%;
    }
}

.cage-content {
    color: white;
    padding: 10px;
    h2 {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .svg-first {
        display: block;
        position: absolute;
        top: 1580px;
        left: 0;
        z-index: -1;
    }
}
