$bg-color: #1B3CC8;
$hover-color: #bac4ee;
$active-color: #5f76d8;
$border-color: #164BC9;
$input-placeholder-color: #8aa5e4;

* {
    margin: 0;
    padding: 0;
}

%bold {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.03em;
    text-decoration: none;
    user-select: none
}

h1 {
    @extend %bold;
    font-size: 32px;
    line-height: 32px;
}

h2 {
    @extend %bold;
    font-size: 30px;
    line-height: 30px;
}

nav {
    display: flex;
    position: relative;
}

@keyframes arrowBtnShake {
    from {
        margin-left: 36px;
    }
    50% {
        margin-left: 41px;
    }
    to {
        margin-left: 36px;
    }
}

@keyframes arrowBtnShake2 {
    from {
        margin-left: 165px;
    }
    50% {
        margin-left: 170px;
    }
    to {
        margin-left: 165px;
    }
}

.link-font {
    font-size: 20px;
    line-height: 23px;
}

.description {
    @extend %bold;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}

.morph-vector {
    fill: $bg-color;
    stroke: black;
    stroke-width: 0;
}

.svg-box-mt {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.click-down {
    display: inline-block;
    background: transparent;
    border: 2px solid $border-color;
    border-radius: 50px;
    height: 60px;
    width: 205px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 20px;
    .click-down-text {
        @extend %bold;
        display: inline-block;
        font-size: 20px;
        line-height: 30px;
        color: white;
        text-align: left;
        margin-top: 13px;
        margin-left: 31px;
    }
}

.toHide {
    display: block;
}

.top-svg-background {
        background: url('data:image/svg+xml,%3Csvg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%25" height="1014" viewBox="0 0 320 1014" class="svg-box-mt"%3E%3Cpath class="morph-vector" fill="%231B3CC8" d="M 1047,956 C 1645.5,736.5 1379,-200.5 623.5,-144.5 60.1699,-102.744 -697.268,-328.832 -985,166 c -76.677,131.86378 -87.4658,263.69034 -45.1415,376.34943 C -942.13176,776.61415 -624.46325,927.99955 -192,824.5 48.123024,767.0324 196.26964,802.7177 319.93282,857.94364 464.62602,922.56124 575.80047,1013.9307 761.5701,1014.1359 840.4883,1014.2231 932.86868,997.85789 1047,956 Z"%3E%3Canimate attributeName="d" dur="40s" repeatCount="indefinite" values="M 1047,956 C 1645.5,736.5 1379,-200.5 623.5,-144.5 60.1699,-102.744 -697.268,-328.832 -985,166 c -76.677,131.86378 -87.4658,263.69034 -45.1415,376.34943 C -942.13176,776.61415 -624.46325,927.99955 -192,824.5 48.123024,767.0324 196.26964,802.7177 319.93282,857.94364 464.62602,922.56124 575.80047,1013.9307 761.5701,1014.1359 840.4883,1014.2231 932.86868,997.85789 1047,956 Z;M 1093.6862,973.50734 C 1692.1862,754.00734 1379,-200.5 623.5,-144.5 60.1699,-102.744 -722.07006,-353.63406 -1009.8021,141.19794 c -76.677,131.86378 -78.6343,295.86559 -20.3394,401.15149 188.67693,340.76768 568.26622,346.15118 760.81743,358.0157 133.5204,8.22718 457.28349,-11.99931 589.25689,-42.42149 137.39848,-31.67275 255.86765,155.98706 441.63728,156.19226 78.9182,0.087 217.98481,1.2293 332.1161,-40.62856 z;M 1047,956 C 1645.5,736.5 1379,-200.5 623.5,-144.5 60.1699,-102.744 -697.268,-328.832 -985,166 c -76.677,131.86378 -87.4658,263.69034 -45.1415,376.34943 C -942.13176,776.61415 -624.46325,927.99955 -192,824.5 48.123024,767.0324 196.26964,802.7177 319.93282,857.94364 464.62602,922.56124 575.80047,1013.9307 761.5701,1014.1359 840.4883,1014.2231 932.86868,997.85789 1047,956 Z"/%3E%3C/path%3E%3C/svg%3E');
    }

#for-drop-menu-js {
    header {
        nav {
            .content{
                display: flex;
                width: 90%;
                margin: 22px auto;
                flex-direction: row;
                justify-content: space-between;
                .img-block {
                    display: inline-block;
                    margin-top: 0px;
                }
                .drop-list {
                    display: block;
                    position: absolute;
                    top: 4px;
                    right: 2px;
                    outline-style: none;
                    background: url(../image-svg/icon-menu.svg);
                    width: 28px;
                    height: 23px;
                }
                @media (min-width: 720px) {
                    .toHide {
                        display: none;
                    }
                }
                @supports (-ms-ime-align: auto) {
                    .drop-menu-details {
                        display: none;
                    }
                    .drop-menu-btn {
                        display: block;
                        position: absolute;
                        top: 4px;
                        right: 2px;
                        outline-style: none;
                        background: url(../image-svg/icon-menu.svg);
                        width: 28px;
                        height: 23px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        margin: 3em auto;
        width: 90%;
        .custom-col {
            .margin-correction {
                margin-top: -71px;
            }
            h1 {
                color: white;
                margin-top: 60px;
                margin-bottom: 20px;
            }
            .description {
                color: white;
            }
            .img-block {
                display: inline;
                margin-left: 20px;
            }
            .img-block:last-child {
                max-width: 250px;
                display: block;
            }
            .click-down {
                .click-down-text::after {
                    background-image: url(../image-svg/icon-arrow.svg);
                    background-size: 20px 20px;
                    display: inline-block;
                    width: 20px; 
                    height: 20px;
                    transform:translate(0, 4px);
                    margin-left: 36px;
                    content:"";
                }
            }
            .click-down:hover .click-down-text::after {
                animation-name: arrowBtnShake;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }
        }
        @media (min-width: 540px) {
            .custom-col {
                width: 50%;
            }
        }
    }
    @media (min-width: 1140px) {
        .content {
            width: 57.8125%;
            .custom-col {
                width: 50%;
            }
        }
    }
}

@-moz-document url-prefix() {
    .content {
        .click-down {
            .click-down-text::after {
                animation-name: arrowBtnShake;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }
        }
    }
}

.drop-menu-details {
    display: block;
}

.drop-menu-js {
    display: block;
    position: absolute;
    top: 2em;
    right: 0px;
    width: 200px;
    background: transparent;
}

.drop-menu-js-hide {
    display: none;
}

.drop-menu-btn {
    display: none;
}

details summary::-webkit-details-marker {
    display: none;
}

.drop-menu-details[open] {
    margin-top: 2em;
    margin-right: .8em;
}

.listBtn {
    display: inline-block;
    border: 0;
    width: 100%;
    background: transparent;
    @extend %bold;
    color: white;
    text-align: right;
    user-select: none;
}

.listBtn:hover {
    color: $hover-color;
    text-decoration: none;
}

.listBtn:focus {
    outline-style: none;
    color: $active-color;
}

.important-to-know {
    display: flex;
    flex-direction: column;
    align-items: center;
    .custom-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    h2 {
        color: black;
        text-align: left;
    }
    .description {
        color: black;
        text-align: left;
        width: 75%;
    }
    .img-block {
        width: 20%;
        padding-right: 5px;
        text-align: center;
    }
}

.algorithm-processing {
    h2 {
        margin-top: 150px;
    }
    .description {
        width: 100%;
    }
    .custom-row {
        .svg-diagram {
            display: block;
            position: relative;
            .svg-text {
                @extend %bold;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                fill: black;
                stroke: black;
                stroke-width: 0;
            }
            .space-border {
                fill: none;
                stroke: #E0E0E0;
                stroke-width: 3;
            }
        }
    }   
}

.cage-content {
    color: white;
    padding: 10px;
    h2 {
        margin-top: 150px;
        margin-bottom: 20px;
    }
    .svg-box-mt {
        display: block;
        position: absolute;
        top: 1580px;
        left: 0;
        z-index: -1;
    }
}

.photo-processing {
    .custom-row {
        padding: 8px;
        * {
            color: white;
        }
        h2 {
            margin-top: 150px;
        }
        p {
            margin-top: 20px;
        }
        .steps {
            h2 {
                margin-top: 25px;
            }
            h2::before {
                background-image: url(../image-svg/icon-point.svg);
                background-size: 20px 20px;
                display: inline-block;
                width: 20px; 
                height: 20px;
                margin-right: 10px;
                content:"";
            }
            .description {
                margin-top: 7px;
                margin-left: 30px;
                line-height: 28px;
            }
        }
        div:first-child {
            margin-top: 35px;
        }
    }
    .svg-box-mt {
        position: absolute;
        top: 3196px;
    }
}

.available-on-android {
    h2 {
        margin-top: 100px;
    }
    .custom-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        img {
            display: block;
            margin-right: 10px;
        }
    }
}

.form-contact-us {
    * {
        color: white;
    }
    h2 {
        margin-top: 191px;
    }
    .description {
        margin-top: 20px;
    }
    .windowInput {
        width: 100%;
        height: 60px;
        border: 0;
        background: $border-color;
        box-sizing: border-box;
        border-radius: 30px;
        padding-left: 21px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        color: white;

        @extend %bold;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;

    }
    .windowInput::placeholder {
        color: $input-placeholder-color;
    }
    .windowArea {
        display: flex;
        width: 100%;
        height: 120px;
        border: 0;
        background: $border-color;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: auto;
        color: white;
    
        @extend %bold;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        resize: none;
        overflow: hidden;
        scrollbar-arrow-color: #0068AB;
    }
    .windowArea::placeholder {
        color: $input-placeholder-color;
    }
    .svg-box-mt {
        position: absolute;
        top: 5030px;
    }
    .custom-row {
        .click-down {
            width: 100%;
            .click-down-text::after {
                background-image: url(../image-svg/icon-arrow.svg);
                background-size: 20px 20px;
                display: inline-block;
                width: 20px; 
                height: 20px;
                transform:translate(0,3px);
                margin-left: 165px;
                content:"";
            }
        }
        .click-down:hover .click-down-text::after {
            animation-name: arrowBtnShake2;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
        .img-block {
            margin-top: 20px;
            margin-left: 160px;
        }
    }
}

@-moz-document url-prefix() {
    .custom-row {
        .click-down {
            .click-down-text::after {
                animation-name: arrowBtnShake2;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
            }
        }
    }
}

.footer {
    margin-top: 96px;
    * {
        @extend %bold;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .custom-row {
        text-align: left;
        .listBtn {
            display: inline;
            .to-active-color {
                color: $active-color;
            }
        }
    }
    .svg-box-mt {
        position: absolute;
        top: 5750px;
        .morph-vector {
            fill: $border-color;
            stroke: black;
            stroke-width: 0;
        }
    }
}

.custom-row {
    padding: 10px;
}


